<%- include('partials/header'); -%>
<style>
.hr-w{
  width: 60px !important;
}
</style>

<body>
  <div class="main-container">
    <img class="mainBg" src="/images/E-learning-Books.jpg" style="height: 730px;" />
  </div>
  
</body>


  <%- include('partials/footer'); -%>
